<div class="col-md-12">
  <h2>List of Vacancy</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="d-none">Id</th>
      <th>Position</th>
      <th>EmploymentType</th>
      <th>Salary</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vacancy of vacancies">
      <td class="d-none">{{vacancy.vacancyId}}</td>
      <td>{{vacancy.position}}</td>
      <td>{{vacancy.typeOfEmployment}}</td>
      <td>{{vacancy.salary}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteById(vacancy)">Delete Vacancy</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
